<div class="row">
<h1>探して みました</h1>

	<!-- <table class="lists">
		<thread>
			<tr>
				<th colspan="3"></th>
			</tr>
		</thread> -->


				<% results.each do |post| %>
					  <div class="col-md-6 col-xs-12">
				      <table class="lists">
				        	<tr><%= post.content %></tr>
							<td><button type="button" class="btn btn-info"><%= link_to 'くわしく', post %></button></td>
					        <% if post.user_id == current_user.id %>
							  <td><button type="button" class="btn btn-warning"><%= link_to 'かきかえ', edit_post_path(post) %></button></td>
					          <td><button type="button" class="btn btn-danger"><%= link_to 'けす', post, method: :delete, data: { confirm: 'マジかよ...？' } %></button></td>
							<% end %>
				      </table>
						</div>
	  		<% end %>
			</div>
