<h1>かきなおし</h1>

<%= render 'form', post: @post %>

<button type="button" class="btn btn-default"><%= link_to 'くわしく', @post %></button>
<button type="button" class="btn btn-default"><%= link_to 'もどる', posts_path %></button>
