html{
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-color: #424242;
  color: white;
  margin: 0;
  padding: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: white;

  // &:visited {
  //   color: white;
  // }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
  text-align: center;
}

td {
  padding: 0 2px 25px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  // padding: 2px;
  // background-color: blue;
  // display: table;
}

#error_explanation {
  width: 100%;
  // border: 2px solid blue;
  // padding: 7px 7px 0;
  // margin-bottom: 20px;
  // background-color: #f0f0f0;
  -webkit-animation:blink 0.8s ease-in-out infinite alternate;
  -moz-animation:blink 0.8s ease-in-out infinite alternate;
  animation:blink 0.8s ease-in-out infinite alternate;


  h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    // background-color: blue;
    // color: white;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  }

  ul li {
    font-size: 12px;
  }
}

.label {
  display: block;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  color: white;
  padding: .0em .0em .0em .0em
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}


.new_post{
	color: blue;
}

input{
  background-color: #424242;
  color: white;
  font-family: 'Snell Roundhand',sans-serif;
}

h1{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  color: white;
}

textarea{
  // background-color: #424242;
}


.error_explanation{
  color: white;
}

h3 {
  text-align: center;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  // background-color: blue;
  color: blue;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

li {
  color: white;
}
